body {
    display: flex;
    background-color: gray;
    box-sizing: border-box;
    justify-content: center; /* Move boxes to the center */
    align-items: center; /* Move content down to the middle of the page */
    min-height: 90vh; /* Moves content to the middle of the viewport */
}

main {
    display: flex;
    font-size: 1.25em;
}

p {
    border: solid black .5px;
    border-radius: 10px;
    background-color: white;
    padding: 7.5px;
}

.event-box {
    text-align: center;
    border-radius: 10px;
    margin: 15px;
}